




<div class="album" (click)="albumStorageService.isLiked(album) ? unlike() : like()">

  <img class="genre__image" [src]='album | albumToImage'>

  <div class="like-container">
    <div>
      <div class="genre__name_aldum">{{album.name}} </div>
      <div class="genre__name_artist">{{album.artist.name}}</div>
      <mat-icon class="genre__name_icon" *ngIf="!albumStorageService.isLiked(album)">favorite_border</mat-icon>
      <mat-icon class="genre__name_icon" *ngIf="albumStorageService.isLiked(album)">favorite</mat-icon>
    </div>
  </div>
</div>
