
<mat-toolbar class="toolbar">
  <div>
    <button class="toolbar__button" mat-raised-button [routerLink]="'/'">Back</button>
    <input class="toolbar__input" [(ngModel)]="search">
  </div>
  <div>
    <mat-icon class="toolbar__favorite" [matBadge]="albumStorageService.likedAlbumsCount()" matBadgeColor="primary">favorite</mat-icon>
  </div>
</mat-toolbar>

<div *ngIf="filteredAlumbs" class="genre__container">
  <div *ngFor="let album of filteredAlumbs" class="genre__card">
    <app-album [album]="album"></app-album>
  </div>

</div>
