/* Toolbar*/
.toolbar {
  background-color: black;
  color: white;

  display: flex;
  justify-content: space-between; /*эл-ты контейнера займут крайние положения*/
  align-items: center;
}

.toolbar__button {
  background-color: black;
  color: white;
}

.toolbar__input {
  height: 28px;
  width: 250px;
  margin-left: 16px;
}

.toolbar__favorite {
  margin-right: 16px;
}

.genre__container {
  width: 100%;
  max-width: 1350px;
  margin: 10px auto;

  display: flex;
  flex-wrap: wrap;
}

.genre__card{
  margin: 8px;
  height: 220px;

  vertical-align: center;
  flex: 1 0 18%;
}

