.genre__container{
  width: 100%;
  max-width: 1200px;
  margin:100px auto;

  display: flex;
  flex-wrap: wrap;
}
.genre__card{
  margin: 8px;
  height: 200px;

  /*text-align: center;*/
  vertical-align: center;
  flex: 1 0 30%;
}
.genre__inner{
/*'height': '100%', 'border-radius': '4px','text-align': 'center','vertical-align': 'center'*/
  height: 100%;
  border-radius: 4px;
  text-align: center;
  vertical-align: center;

  position: relative;
  overflow: hidden;

}

.genre__name{
  justify-content: center;
  color: white;
  font-size: 20px;
  text-transform: capitalize;

  position: absolute;
  top: 45%;
  left: 40%;

}
.genre__image{
  height: 130px;
  width: 130px;
  transform: rotate(-45deg);

  position: absolute;
  top: 50%;
  left: 70%;
}
